apiVersion: 1
contactPoints:
  - orgId: 1
    name: Alertas-Discord
    receivers:
      - uid: discord_1
        type: discord
        settings:
          url: ${discord_webhook_url}
policies:
  - orgId: 1
    receiver: Alertas-Discord
    group_by: ['grafana_folder', 'alertname']
