services:
  portal:
    image: nginx:alpine
    container_name: portal
    volumes:
      - /opt/server/apps/portal/index.html:/usr/share/nginx/html/index.html:ro
    restart: unless-stopped
    networks:
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_net"
      - "traefik.http.routers.portal.rule=Host(`${portal_url}`)"
      - "traefik.http.services.portal.loadbalancer.server.port=80"
networks:
  traefik_net:
    external: true
